.background    { background: lightgray;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(260, 50, 50); }
.wall          { background: black;   }
.water		   { background: blue; }
.gold		   { background: gold; }

.actor  { position: absolute;  }
.coin   { background: white; }
.player { background: lightyellow; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px gold, 4px -7px 8px gold;
}
